/* ===== Glopal classes ====  */
/* @import "~bootstrap/scss/bootstrap"; */
:root {
  --darkMode: #202020;
  --surface-color: #fff;
  --curve: 35;
  --header: 60;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  background-color: var(--darkMode) !important;
  color: var(--surface-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(230, 17, 17) !important;
  border-radius: 10px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
.img {
  border-radius: 50%;
  overflow: hidden;
}

.imgCard {
  overflow: hidden;
}

.img img,
.imgCard img {
  width: 100%;
  height: 84%;
  object-fit: cover;
  object-position: top;
}
.img .imgYoutube {
  height: 100% !important;
}
/* ===== header ===== */
header {
  /* background-color: rgb(21, 19, 19); */
  background-color: var(--darkMode);
  padding: 10px;
  height: var(--header);
}
 
.search__input {
  min-width: 40%;
  /* max-width:80%; */
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xmlcharset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

@media (min-width:600px){
.search__input {
  width:70%
}
}
.search__input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search__input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

/* ==== youTubecards ==== */
.cards {
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  background-color: var(--darkMode) !important;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card__header-text {
  text-decoration: none;
}
.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--darkMode);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(20%);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--darkMode);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--darkMode);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}
.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
  width: 140px;
  /* white-space: w; */
  white-space: wrap;
  height: 20px;
  overflow: hidden;
}
.card:hover .card__header {
  transform: translateY(0);
}
.card:hover .card__title {
  min-height: 40px;
  max-height: 100px;
}
.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 60px;
}

/*===== SidNav= mainNav ==== */
.MainNav {
  position: fixed;
  top: 70px;
}

.MainNav ul li {
  padding: 6px 10px;
  margin-bottom: 8px;
  display: flex;
  max-width: 170px;
  align-items: center;
  transition: background 1s ease-in-out;
  cursor: pointer;
  border-radius: 30px;
}
.MainNav ul li:hover,
.MainNav ul li.active {
  /* background: red; */
  background: rgb(232, 34, 34);
}
.loardIcon {
  display: none;
}
@media (max-width: 992px) {
  .MainNav {
    position: relative;

    width: 100%;
    display: flex;
  }

  .MainNav .ul {
    display: flex !important;
    overflow-x: scroll;
    font-size: 13px;
  }
}
/* ==== Lastest Videos ==== */

.carousel {
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  padding-top: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel__container {
  white-space: nowrap;
  /* margin: 70px 0px; */
  padding-bottom: 10px;
  display: inline-block;
}

.categories__title {
  color: rgb(77, 55, 102);
  font-size: 28px;
  position: absolute;
  padding-left: 30px;
}

.carousel-itemCard {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-itemCard:hover ~ .carousel-itemCard {
  -webkit-transform: translate3d(70px, 0, 0);
  transform: translate3d(70px, 0, 0);
}

.carousel__container:hover .carousel-itemCard {
  opacity: 0.3;
}

.carousel__container:hover .carousel-itemCard:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.carousel-itemCard__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-itemCard__details {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.9)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-itemCard__details:hover {
  opacity: 1;
}

.carousel-itemCard__details span {
  /* width: 10px;
    height: 10px; */
  font-size: 0.9rem;
  color: #2ecc71;
  /* background-color: white; */
}

.carousel-itemCard__details .controls {
  padding-top: 180px;
}

.carousel-itemCard__details .carousel-itemCard__details--title,
.carousel-itemCard__details--subtitle {
  color: #fff;
  margin: 5px 0;
}

/*  ====== Channel Detaiels =====  */
.--card-cup.bg-primary {
  height: 245px;
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/9d/f4/89/9df48939ab918b460cd289d78be3fdde.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

/*  ====== video Detaiels =====  */
.videoDetaiels {
  overflow: hidden;
  margin-top: calc(var(--header) * 2px);
}

.videoDetaiels iframe {
  width: 100%;
  height: 520px;
}

@media (max-width: 992px) {
  .videoDetaiels .relatedVideo {
    height: 100%;
    overflowy: hidden;
    padding-right: 0 !important;
  }
}
@media (min-width: 992px) {
  .videoDetaiels .relatedVideo {
    /* background:red; */
    height: 80vh !important;
    overflow-y: scroll !important;
  }
}

/*= */
